* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    background-color: #fcfcfc;
    font-family: sans-serif;
}
.contenedor {
    display: flex;
    min-height: 100vh;
    width:100%;
}
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 83%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.content img {
    max-width: 300px; 
    margin-bottom: 20px;
    border-radius:8px;
}

.content h1 {
    color: #000;
}

.content p {
    color: #000;
    width:57%;
}

.sidebar {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    min-width: 266px; 
    background-color:#ffff;
    border-right:1px solid #ddd;
}

.user {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 1px solid #ddd;

}
.user-2 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    border-top: 1px solid #ddd; 
}

.user-info {
    display: flex;
    flex-direction: column; 
    padding-top:9px;
}

.user-name {
    font-family: sans-serif;
    margin: 0; 
    font-size: large;
}

.status {
    color: #8c8c8c;
    margin: 0; 
    font-size: 12px;
}
.status-2 {
    color: #000;
    margin: 0; 
    font-size: 15px;
}

.icon-first-chat {
    color: #8c8c8c;
    font-size: 18px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.user-image-2 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul > li {
    padding: 8px;
}

.button-card {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-card button {
    padding: 10px 20px;
    background-color: #A491D2;
    color: white;
    border: none;
    cursor: pointer;
    width:80%;
}

.button-card button:hover {
    background-color: #0056b3;
}

